body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
form{
    display:flex;
    flex-direction:column;
    border:1px solid pink;
    border-radius:4px;
    padding:20px;
    gap:10px;
    width:300px;
}